<Plugin
    DescriptorVersion="1.0"
    Name="AirPlayer"
    PluginId="{1F3FF270-67E0-4A6C-8291-B58D50754824}"
    AutoActivate="True"
    Author="Brownard"
    Copyright="GNUv2"
    Description="Airplay Plugin"
    PluginVersion="1.0">
  
  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/> <!-- SkinEngine -->
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"/> <!-- VideoPlayers -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"/> <!-- Media -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/> <!-- Configuration plugin -->
  </DependsOn>
  
  <Runtime>
    <Assembly FileName="AirPlayer.MediaPortal2.dll"/>
    <PluginStateTracker ClassName="AirPlayer.MediaPortal2.AirPlayer"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="1BC2FC01-60EA-459C-9F91-65A2050A078F" ClassName="AirPlayer.MediaPortal2.Players.AirplayPlayerBuilder"/>
  </Register>
  
  <Register Location="/VideoPlayers/MimeTypeRegistrations">
    <VideoPlayerMimeTypeMapping Id="airplay" ClassName="AirPlayer.MediaPortal2.Players.AirplayVideoPlayer" MimeType="video/airplayer"/>
  </Register>

  <Register Location="/Resources/Language">
    <Resource Id="AirPlayerLanguage" Directory="Language" Type="Language"/>
  </Register>
  
  --> 
  <!--Registration of our configuration section--> 
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="AirPlayer"
        Text="[Settings.Plugins.AirPlayer]"/>
  </Register>

  <!-- Contents of '/Plugins/AirPlayer' section -->  
  <Register Location="/Configuration/Settings/Plugins/AirPlayer">
    <ConfigSetting
        Id="AirPlayerServerName"
        Text="[AirPlayer.ServerName]"
        HelpText="[AirPlayer.ServerName.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.ServerName"/>
    <ConfigSetting
        Id="AirPlayerPassword"
        Text="Password"
        HelpText="The password used to connect to the server, leave blank for no password"
        ClassName="AirPlayer.MediaPortal2.Configuration.Password"/>
    <ConfigSetting
        Id="AirPlayerUseDummyIdentifier"
        Text="[AirPlayer.DummyIdent]"
        HelpText="[AirPlayer.DummyIdent.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.DummyIdentifier"/>
    <ConfigSetting
        Id="iOS8Workaround"
        Text="[AirPlayer.iOS8Workaround]"
        HelpText="[AirPlayer.iOS8Workaround.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.iOS8Workaround"/>
    <ConfigSetting
        Id="AirPlayerRtspPort"
        Text="[AirPlayer.RtspPort]"
        HelpText="[AirPlayer.RtspPort.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.RtspPort"/>
    <ConfigSetting
        Id="AirPlayerUdpPort"
        Text="[AirPlayer.UdpPort]"
        HelpText="[AirPlayer.UdpPort.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.UdpPort"/>
    <ConfigSetting
        Id="AirPlayerAudioBuffer"
        Text="[AirPlayer.AudioBuffer]"
        HelpText="[AirPlayer.AudioBuffer.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.AudioBuffer"/>
    <ConfigSetting
        Id="AirPlayerAllowVolume"
        Text="[AirPlayer.AllowVolume]"
        HelpText="[AirPlayer.AllowVolume.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.AllowVolume"/>
    <ConfigSetting
        Id="AirPlayerSendAudioCommands"
        Text="[AirPlayer.SendCommands]"
        HelpText="[AirPlayer.SendCommands.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.SendAudioCommands"/>
    <ConfigSetting
        Id="AirPlayerAirplayPort"
        Text="[AirPlayer.VideoPort]"
        HelpText="[AirPlayer.VideoPort.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.AirplayPort"/>
    <ConfigSetting
        Id="AirPlayerAllowHD"
        Text="[AirPlayer.AllowHD]"
        HelpText="[AirPlayer.AllowHD.Help]"
        ClassName="AirPlayer.MediaPortal2.Configuration.AllowHDStreams"/>
  </Register>  
</Plugin>
