<Plugin
    DescriptorVersion="1.0"
    Name="AirPlayer"
    PluginId="{1F3FF270-67E0-4A6C-8291-B58D50754824}"
    AutoActivate="True"
    Author="Brownard"
    Copyright="GNUv2"
    Description="Airplay Plugin"
    PluginVersion="1.0">
  
  <DependsOn>
    <PluginReference PluginId="{D87D92F0-5E71-470a-A2A4-430F90A28BF3}"/> <!-- SkinEngine -->
    <PluginReference PluginId="{A965AFE5-44F9-46e0-980E-40BBE17F25CA}"/> <!-- VideoPlayers -->
    <PluginReference PluginId="{15FB35F7-8C85-4404-BC67-BFF28446158A}"/> <!-- Media -->
    <PluginReference PluginId="{1AFF4467-64B0-4ca1-AF28-9AEDF3525BCE}"/> <!-- ConfigurationManager -->
    <PluginReference PluginId="{B765A4B6-F455-4941-BDAE-2CE45208BFEB}"/> <!-- Configuration plugin -->
  </DependsOn>
  
  <Runtime>
    <Assembly FileName="AirPlayer.MediaPortal2.dll"/>
    <PluginStateTracker ClassName="AirPlayer.MediaPortal2.AirPlayer"/>
  </Runtime>

  <Register Location="/Players/Builders">
    <PlayerBuilder Id="1BC2FC01-60EA-459C-9F91-65A2050A078F" ClassName="AirPlayer.MediaPortal2.Players.AirplayPlayerBuilder"/>
  </Register>
  
  <Register Location="/VideoPlayers/MimeTypeRegistrations">
    <VideoPlayerMimeTypeMapping Id="airplay" ClassName="AirPlayer.MediaPortal2.Players.AirplayVideoPlayer" MimeType="video/airplayer"/>
  </Register>

  --> 
  <!--Registration of our configuration section--> 
  <Register Location="/Configuration/Settings/Plugins">
    <ConfigSection
        Id="AirPlayer"
        Redundant="true"
        Text="AirPlayer"/>
  </Register>

  <!-- Contents of '/Plugins/AirPlayer' section -->  
  <Register Location="/Configuration/Settings/Plugins/AirPlayer">
    <ConfigSetting
        Id="AirPlayerServerName"
        Text="Server name"
        HelpText="The display name of the server"
        ClassName="AirPlayer.MediaPortal2.Configuration.ServerName"/>
    <ConfigSetting
        Id="AirPlayerPassword"
        Text="Password"
        HelpText="The password used to connect to the server, leave blank for no password"
        ClassName="AirPlayer.MediaPortal2.Configuration.Password"/>
    <ConfigSetting
        Id="AirPlayerUseDummyIdentifier"
        Text="Use dummy identifier"
        HelpText="Use a custom identifier, allows multiple airplay servers on the same machine"
        ClassName="AirPlayer.MediaPortal2.Configuration.DummyIdentifier"/>
    <ConfigSetting
        Id="iOS8Workaround"
        Text="Enable iOS 8 workaround"
        HelpText="Enable experimental support for iOS 8"
        ClassName="AirPlayer.MediaPortal2.Configuration.iOS8Workaround"/>
    <ConfigSetting
        Id="AirPlayerRtspPort"
        Text="RTSP port"
        HelpText="The TCP port used to receive audio stream information"
        ClassName="AirPlayer.MediaPortal2.Configuration.RtspPort"/>
    <ConfigSetting
        Id="AirPlayerUdpPort"
        Text="UDP port"
        HelpText="The UDP port used to receive audio data"
        ClassName="AirPlayer.MediaPortal2.Configuration.UdpPort"/>
    <ConfigSetting
        Id="AirPlayerAudioBuffer"
        Text="Audio buffer size (seconds)"
        HelpText="The amount of audio to buffer before starting playback"
        ClassName="AirPlayer.MediaPortal2.Configuration.AudioBuffer"/>
    <ConfigSetting
        Id="AirPlayerAllowVolume"
        Text="Allow client to control volume"
        HelpText="Whether to allow the client to control MediaPortal's volume"
        ClassName="AirPlayer.MediaPortal2.Configuration.AllowVolume"/>
    <ConfigSetting
        Id="AirPlayerSendAudioCommands"
        Text="Send playback commands to client"
        HelpText="Whether to send Play/Pause/Prev/Next commands to the client"
        ClassName="AirPlayer.MediaPortal2.Configuration.SendAudioCommands"/>
    <ConfigSetting
        Id="AirPlayerAirplayPort"
        Text="Video port"
        HelpText="The TCP port used to receive photo and video information"
        ClassName="AirPlayer.MediaPortal2.Configuration.AirplayPort"/>
    <ConfigSetting
        Id="AirPlayerAllowHD"
        Text="Allow HD streams"
        HelpText="Allow HD stream selection if available"
        ClassName="AirPlayer.MediaPortal2.Configuration.AllowHDStreams"/>
  </Register>  
</Plugin>
